.ba-header{
    background-color: $primaryColor;
    color: #fff;
    padding-top: 1rem;

    @media screen and (min-width: 991px) {
       padding-top: 40px;
    }

    &-top {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0 1rem;

        .ba-notification-wrapper {
            margin-left: auto;
            margin-right: 1.5rem;
        }

        @media screen and (min-width: 991px) {
            margin-bottom: 50px;
        }
    }
}

.ba-logo {
    display: inline-block;
    color: $yellow;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;

    @media screen and (min-width: 991px) {
        font-size: 1.75rem;
    }
}

.ba-menu {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: 991px) {
        display: flex;
    }

    &__item-user {
        padding: 1rem;
    }

    &__link{
        position: relative;
        display: block;
        padding: 1rem 1rem 1rem 70px;
        font-size: 1.125rem;
        font-weight: 300;
        color: #fff;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            bottom: 0;
            left: 1rem;
            right: 1rem;
            background-color: rgba(255, 255, 255, .25);
        }

        .fas{
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 23px;
        }
    }
}